# Mmm, Textile
snippet html
	<pre><code class="html">
		${1}
	</code></pre>

snippet css
	<pre><code class="css">
		${1}
	</code></pre>

snippet js
	<pre><code class="javascript">
		${1}
	</code></pre>

snippet letus
	Please let us know how you would like to proceed.

snippet further
	If you have any further questions or comments, please don't hesitate to ask.

snippet thx
	Thank you!
